.sidenav, .content{
  padding-top: 53px;
}

.sidenav{
  width: 270px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(236,239,241,0.56);
  box-shadow: 3px 0 6px rgba(0,0,0,0.24);
}

.content{
  position: relative;
}

